@page "/passwordgenerator"
@using PasswordGeneratorGUI.Logic;
@using PasswordGeneratorGUI.Models;

<h3>Random Password Generator</h3>

<p>This app will randomly generate passwords based on requirements you supply.</p>

<EditForm Model=@RandomGeneratorLogic.model OnValidSubmit=@RandomGeneratorLogic.SetRequirements>
    <DataAnnotationsValidator />
    <ValidationSummary />
    <p>
        <label style="margin: 5px">
            Minimum Length
            <InputNumber @bind-Value="RandomGeneratorLogic.model.MinimumLength" style="width:70px; margin-left: 95px" />
        </label>
    </p>
    <p>
        <label style="margin: 5px">
            Maximum Length
            <InputNumber @bind-Value="RandomGeneratorLogic.model.MaximumLength" style="width:70px; margin-left: 92px" />
        </label>
    </p>
    <p>
        <label style="margin: 5px">
            Minimum Upper Case
            <InputNumber @bind-Value="RandomGeneratorLogic.model.MinimumLowerCase" style="width: 70px; margin-left: 61px" />
        </label>
    </p>
    <p>
        <label style="margin: 5px">
            Minimum Lower Case
            <InputNumber @bind-Value="RandomGeneratorLogic.model.MinimumUpperCase" style="width: 70px; margin-left: 61px" />
        </label>
    </p>
    <p>
        <label style="margin: 5px">
            Minimum Numbers
            <InputNumber @bind-Value="RandomGeneratorLogic.model.MinimumNumbers" style="width: 70px; margin-left: 81px" />
        </label>
    </p>
    <p>
        <label style="margin: 5px">
            Minimum Special Characters
            <InputNumber @bind-Value="RandomGeneratorLogic.model.MinimumSpecialCharacters" style="width: 70px; margin-left: 10px" />
        </label>
    </p>
    <p>
        <label style="margin-left: 5px; margin-top: 5px"> Special Characters </label>
    </p>
    <p style="width: 400px">
        <label style="font-size: 15px; margin-left: 5px">Seperate each special character with a space. </label>
    </p>
    <p>
        <InputText id="message" @bind-Value="RandomGeneratorLogic.model.AllowedSpecialCharacters" style="width: 300px; margin-left:20px" />
    </p>
    <p>
        <button type="submit" class="btn btn-dark" style="font-size: 20px; margin: 5px" @onclick=@RandomGeneratorLogic.SetRequirements> Approve Requirements </button>
    </p>
</EditForm>



<EditForm Model=@RandomGeneratorLogic.model OnValidSubmit=@RandomGeneratorLogic.NewPassword>
    <DataAnnotationsValidator />
    <ValidationSummary />
    <br />
    <InputText id="message" @bind-Value="RandomGeneratorLogic.model.Password" class="form-control" style="width: 300px; margin: 5px" />
    <button class="btn btn-dark" style="font-size: 20px; margin: 5px" @onclick=@RandomGeneratorLogic.NewPassword> Generate Password </button>
</EditForm>

@code {
}
